html{
  font-weight: bold;
  cursor: url('asset/cursor.png'),default;
  font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu
}
.page{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.bg{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
::selection{
  background: rgba(0, 151, 233, .84);
  color: white;
  text-shadow: 0 0 1px white;
}

#desktop{
  font-weight: normal;
  background-image: url('asset/image/desktopWalla.png');
  cursor: default;
}
#taskbar{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.84);
  box-shadow: 0 0 3px black;
  display: flex;
}
.taskbar_item{
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.taskbar_item:hover{
  background-color: rgba(255, 255, 255, .5);
}
.taskbar_item img{
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
}
.taskbar_opened{
  border-bottom: 3px solid rgba(0, 151, 233, .84);
  box-sizing: border-box;
}
#launcher{
  position: absolute;
  display: flex;
  right: 100px;
  top: 70px;
  width: 800px;
  height: 450px;
  background-image: url('asset/image/desktopWallb.png');
}
#launcherHeader{
  width: 100%;
  height: 30px;
  background-color: black;
}
#launcherHeader span{
  position: relative;
  color: white;
  font-size: 16px;
  left: 10px;
  top: 4px;
  margin: 3px;
}
#launcherStart{
  position: absolute;
  right: 80px;
  bottom: 60px;
  background-image: linear-gradient(to bottom, #FFC000, #FFCD00);
  color: #744D1D;
  text-align: center;
  padding: 15px 50px;
  border-radius: 5px;
  cursor: pointer;
}
#launcherStart:hover{
  opacity: .84;
}

#login{
  background-color: black;
  display: none;
  color: white;
  text-align:center;
  line-height: 1.5;
  transition: opacity 1s;
}#login1,#login2,#login3,#login4,#login5{display: none;}
#login1{font-weight:normal;}
#login11{position:relative;top: 160px;font-size: 40px;}
#login12{position:relative;top: 180px;font-size: 30px;}
#login13{position:relative;font-size: 18px;top: 200px;color: gray;}
#login21{position:relative;top: 160px;font-size: 30px;}
#login2 hr{position: relative;top: 200px;width:80%;border: none;border-top: 1px solid #ffffff4f;}
#login2 hr:after{background: #000;content: '!';padding: 0 5px;position: relative;top:-32px;font-size: 30px;}
#login22{position:relative;top: 160px;font-size: 24px;color: gray;width: 80%;left: 10%;}
#login3 img{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);width: 35%;}

#home{
  /* display: none; */
  background-image: url('./asset/image/homeBg.png');
}
#homeTitle{
  position: absolute;
  color: white;
  font-style: italic;
  font-size: 32px;
  left: 30px;
  top: 20px;
}
#homeOrange{
  display: flex;
  top: 65px;
  position: absolute;
  left: 20px;
}
.homeOrangediv{
  margin: 3px;
  width: 36px;
  height: 20px;
  background-color: rgba(0, 151, 233, .84);
  border: 2px solid rgba(0, 151, 233, .84);
  border-radius: 3px;
  transform: skewX(-20deg);
}
.homeOrangediv.emp{
  background-color: white;
}
#homeItemBar{
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width:800px) {
  div{
    transition: all 0.5s;
    transform-origin: bottom right;
    left: -100%;
    transform: rotate(90deg);
  }
}